@tailwind utilities;
@tailwind base;
@tailwind components;

@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url('/fonts/Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans'), local('OpenSans'), url('/fonts/Bold.woff2') format('woff2');
}

* {
	font-family: 'Sans', sans-serif;
	letter-spacing: 0.022rem;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply antialiased;
	background-color: #151518;
}

@import 'nav';
@import 'main';
@import 'login';

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	#app .tweets .tweet {
		@apply bg-[#323236de] backdrop-blur-md;
	}
	#login .container .inner-wrapper {
		@apply bg-[#28282Bde] backdrop-blur-md;
	}
}
